<div class="header">
  <h1 class="title"><a href="/">{{ site.name }}</a></h1>
  <a class="extra" href="/">首页</a>
</div>

<div class="left-top-hook"></div><!-- 站内信息 -->
<div class="right-top-hook"></div><!-- 页内信息 -->
<div class="left-middle-hook"></div><!-- 页内操作 -->
<div class="right-middle-hook"></div><!-- 页内导航 -->
<div class="right-bottom-hook"></div><!-- 站内系统 -->
<div class="left-bottom-hook"></div><!-- 站内栏目 -->

<dic class="site-nav">
  <ul>
    <li><a href="/">首页</a></li>
    <li><a href="/category/news.html">项目进展</a></li>
    <li><a href="/category/download.html">资源下载</a></li>
    <li><a href="/category/bbs.html">讨论区</a></li>
    <li><a href="/category/demo.html">应用示例</a></li>
    <li><a href="/category/api.html">软口文档</a></li>
    <li><a href="/category/people.html">人与团体</a></li>
  </ul>
</dic>

